### Above combination ignores all files without extensions (C executables)
# Ignore all files
*
# Unignore all with extensions
!*.*
# Unignore all dirs
!*/
# Unignore Makefile
!Makefile

### IDE ###
.idea
.DS_Store

### JVM ###
*.jar

### C ###
*.o
